/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, 
чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.page {
  font-family: var(--main-font);
  font-size: 18px;
  background-image: var(--gradient);
  background-size: cover;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--text-font-weight);
  display: grid;
  justify-items: center;
}

.block-width {
  width: var(--block-width);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-block: 98px;
  padding-block: 130px;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font);
  background-color: var(--background-color);
}

.header__logo {
  font-size: 65px;
  line-height: 100%;
}

.header__title {
  font-size: 23px;
  line-height: 100%;
  text-transform: uppercase;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-block-end: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  /* width: var(--block-width); */
}

.card__title {
  padding-inline: 10px;
  padding-block: 4px;
  font-weight: var(--title-font-weight);
  font-size: var(--text-font-size);
  font-variation-settings: 'wght' var(--title-font-weight);
}

.card__picture {
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  overflow: hidden;
}

.card__image {
  border: none;
  outline: none;
  display: block;
  width: var(--block-width);
  aspect-ratio: 1/1;
  object-fit: cover;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-inline: 25px;
  padding-block: 25px;
}

.card__content-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__content-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 8px;
  padding-bottom: 3px;
}

.common-button {
  margin: 0;
  border: none;
  padding: 0;
  outline: none;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  background: none;
  background-color: var(--background-color);
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

.animated-button {
  transition: box-shadow 0.3s ease;
  position: relative;
}

.animated-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
}

.animated-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left top;
  transition: transform 0.5s ease-in-out;
}

.animated-button:hover::after {
  transform: scaleX(1);
}

.card__like-button {
  border: 2px solid var(--accent-color);
  min-inline-size: 130px;
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
  color: var(--text-color);
  z-index: 1;
}

dialog {
  padding: 0;
  margin: auto auto;
  border: none;
}

.save-dialog {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 353px;
  border: 2px solid var(--accent-color);
  padding: 28px;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  line-height: 1.5;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.save-dialog__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.save-button__icon {
  fill: var(--text-color);
  mix-blend-mode: difference;
  z-index: 1;
}

.save-dialog__content .save-button__icon {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
}

.save-dialog__text {
  flex-grow: 1;
  text-transform: uppercase;
  /* display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 50px;
  word-wrap: break-word; */
}

.save-dialog__button {
  border: 2px solid var(--accent-color);
  padding-inline: 22px;
  padding-block: 10px;
  text-transform: uppercase;
}

.save__button {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  border: 2px solid var(--accent-color);
  padding-inline: 19px;
  padding-block: 15px;
}

.save__button .save-button__icon {
  width: 21px;
  height: 21px;
}

.card__picture {
  position: relative;
}

.watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow:
    -1px 0 var(--text-stroke-color),
    0 1px var(--text-stroke-color),
    1px 0 var(--text-stroke-color),
    0 -1px var(--text-stroke-color);
  -webkit-text-stroke: 1px var(--text-stroke-color);
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px var(--text-stroke-color)) or (-webkit-text-stroke: 1px var(--text-stroke-color))) {
  .watermark {
    text-shadow: none;
    text-stroke: 1px var(--text-stroke-color);
  }
}

@media (width <=375px) {
  .header__logo {
    font-size: 49px;
    /* line-height: 49px; */
  }

  .header__title {
    font-size: 14px;
    /* line-height: 14px; */
    text-transform: uppercase;
  }

  .save__button {
    flex-direction: column;
  }

  .save-dialog {
    width: 341px;
    padding-inline: 38px;
  }
}

.filter-saturate {
  filter: saturate(2.0);
}

.filter-blur {
  filter: contrast(250%) blur(1px);
}

.filter-contrast {
  filter: hue-rotate(1.2turn) contrast(50%);
}

.filter-grey {
  filter: grayscale(40%);
}

.filter-hue {
  filter: hue-rotate(0.4turn);
}

.filter-sepia {
  filter: sepia(0.8);
}

.filter-invert {
  filter: invert(10%);
}