/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: 'Inter', sans-serif;
  --accent-font: 'PressStart2P', sans-serif;
  --title-font-size: 18px;
  --title-font-weight: 715;
  --text-font-size: 18px;
  --text-font-weight: 410;
  --background-color: #fff;
  --gradient:
    repeating-linear-gradient(
      to right,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --block-width: clamp( 375px, 100%, 700px);
  --border-color: #000;
  --text-stroke-color: rgba(255, 255, 255, 0.5);
}
